@{
    ViewBag.Title = "Home Page";
}
    <div class="layui-card">
        <div class="layui-card-header layui-bg-black">首页</div>
        <div class="layui-card-body" style="padding:0;">
            <img src="~/Content/images/sz.png" style="width: 100%;height: 100%;" />
        </div>
    </div>
